<ion-view view-title="My Lists">

  <ion-content>
    <div ng-if="vm.isCreating()">
            <!-- CREATING -->
            <div>
                <h2 class="title">Create Checklist</h2>
                <span ng-click="vm.cancelCreate()" class="cancel-create">Cancel</span>
            </div>
            <div>
                <form class="create-form" role="form"
                      ng-submit="vm.create(vm.newObject)" novalidate>
                    <div class="list">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Name</span>
                            <input type="text" class="form-control"
                                   ng-model="vm.newObject.name"
                                   placeholder="Enter name">
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Description</span>
                        <textarea class="form-control"
                                  ng-model="vm.newObject.description"
                                  placeholder="Enter description"></textarea>
                        </label>

                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Image URL</span>
                        <textarea class="form-control"
                                  ng-model="vm.newObject.image_url"
                                  placeholder="Add a URL to the list image"></textarea>
                        </label>
                    </div>
                    <button class="button button-block button-positive" type="submit">Create</button>
                </form>
            </div>
      </div>
      <div ng-if="!vm.isCreating()">
        <div class="row responsive-md bottom_padded" ng-repeat='object in vm.data' ng-if='$index%2 == 0'>
          <a class="item" ng-if='$index < vm.data.length' href="#/checklists/{{vm.data[$index].id}}" style="background: color(lightblue); background-image: url('{{vm.data[$index].image_url}}'); background-position: center">
            <div >
              <div>
                <span class='item-content bigwhite'>{{vm.data[$index].name}}</span>
              </div>
              <!--<div class="littlewhite">
                  {{object.description}}
                </div>-->
            </div>
          </a>
          <a class="item" ng-if='($index + 1) < vm.data.length' href="#/checklists/{{vm.data[$index+1].id}}" style="background: color(lightblue); background-image: url('{{vm.data[$index+1].image_url}}'); background-position: center">
            <div >
                <span class='item-content bigwhite'>{{vm.data[$index+1].name}}</span>
              <!--<div class="littlewhite">
                  {{object.description}}
                </div>-->
            </div>
          </a>
        </div>
          
      </div>      
    </ion-content>
  
</ion-view>