<ion-view view-title="Checklists">
    <div>
        <ion-content class="padding has-header">
            <!-- LIST -->
            <div class="bar bar-subheader">
                <div class="list" ng-repeat="object in vm.data">
                    <div class="item item-icon-right item-icon-left">
                        <h2 class="text-center">{{object.name}}</h2>
                    </div>
                    <div class="item item-body">
                        {{object.description}}
                    </div>
                </div>
            </div>
        </ion-content>
    </div>
</ion-view>