<ion-view view-title="Checklist">
    <div>
        <ion-content class="padding has-header">
            <!-- LIST -->
              <div class="item">
                <div class="item-content">
                  <span>{{vm.data.name}}</span> <br />
                  <span>{{vm.data.description}}</span>
                </div>
              </div>
              <div ng-repeat="object in vm.data.entries">
                <span>{{object.checked}}</span>
                <span>{{object.name}}</span>
                <br />
              </div>

              <div>
                  <span ng-click="vm.startCreate()"><i class='icon ion-ios-plus new-item-left'></i> Add Checklist Item</span>
              </div>

            <a href = "#/checklists"> Return to list </a>
        </ion-content>
    </div>
</ion-view>