<ion-view view-title="Checklist">
    <div>
        <ion-content class="padding has-header">
            <!-- LIST -->
              <div class="item">
                <div class="item-content">
                  <span>{{vm.data.name}}</span> <br />
                  <span>{{vm.data.description}}</span>
                </div>
              </div>
              <div ng-repeat="object in vm.data.entries">
                <span>{{object.checked}}</span>
                <span>{{object.name}}</span>
                <br />
              </div>

              <div>
                  <span ng-click="vm.startCreate()">
                    <form class="create-form" role="form"
                        ng-submit="vm.create(vm.newObject)" novalidate>
                          <label class="item-input item-stacked-label">
                            
                              <i class="icon ion-ios-plus new-item-left" type="submit"></i>
                              <input type="text" class="form-control"
                                     ng-model="vm.newObject.name"
                                     placeholder="Enter name">
                          </label>
                    </form>
                      
                  </span>
              </div>

            <a href = "#/checklists"> Return to list </a>
        </ion-content>
    </div>
</ion-view>