.icon.new-item {
  position: absolute;
  font-size: 20px;
  zoom: 2;
  color: #ffc900;
  bottom:0;
  right:0;
}
.icon.new-item-left {
  position: relative;
  font-size: 20px;
  zoom: 2;
  color: #ffc900;
  bottom:0;
  left:0;
  vertical-align: 'center'
}
.cancel-create {
  position: absolute;
  right: 20px;
  font-size: 14px;
  bottom: 13px;
  color:#ef4e3a;
}
[ng-click], [data-ng-click], [x-ng-click] {
    cursor: pointer;
}
/* Ionic Overwrite! */
.item-icon-left .icon, .item-icon-right .icon {
  font-size: 22px;
}

.bottom_padded {
  padding-bottom: 10px;
}

.item {
  background-color: lightblue;
  border-radius: 5px;
  margin-left: 10px;
  width: 200px;
  height: 200px;
  position: relative;
  padding-top: 10px;
}

.item-content {
  position: absolute;
  
  bottom: 0;
  left: 0;
}

.bigwhite {
  color: white;
  font-size: 24pt;  
  padding-bottom: 20px;
}

.bottom_container {
    position:relative;
}
.bottom_right {
    position:absolute;
    bottom:0;
    right:0;
}